<!-- wp:template-part {"slug":"header","theme":"pai-page","className":"header-fixed"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:pattern {"slug":"pai-page/cover"} /-->
    <!-- wp:pattern {"slug":"pai-page/welcome"} /-->
    <!-- wp:pattern {"slug":"pai-page/images"} /-->
    <!-- wp:pattern {"slug":"pai-page/fullimages"} /-->
    <!-- wp:pattern {"slug":"pai-page/columns"} /-->
    <!-- wp:pattern {"slug":"pai-page/gallery"} /-->
    <!-- wp:pattern {"slug":"pai-page/contact"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"pai-page","tagName":"","className":"site-footer"} /-->